input[type="number"] {
    display: none;
}

/* .segments{
    display: none;
} */

input[type='datetime-local']::-webkit-calendar-picker-indicator {
    display: none;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--thirdary-color) inset !important;
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px var(--secondary-color) inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: var(--background-color) !important;
}

body[theme="dark"] {
    --text-color: #ffffff;
    --background-color: #161616;
    --background-alt-color: #434343;
    --background-secondary-color: #222222;
}

body[theme="light"] {
    --text-color: #000000;
    --background-color: #ffffff;
    --background-alt-color: #9da0a5;
    --background-secondary-color: #eeeeee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-size: 0.9rem;
    transition: all 0.3s ease-in-out;
    line-height: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: var(--background-secondary-color);
    margin: 0;
    --primary-color: #0c131f;
    --secondary-color: #242b35;
    --thirdary-color: #2b3442;
}

::selection {
    background: var(--text-color);
    color: var(--background-color);
}

p {
    height: fit-content;
}

input,
button {
    background: transparent;
    border: none;
    color: var(--background-color);
    cursor: pointer;
}

span {
    color: var(--background-alt-color) !important;
}

h1 {
    font-size: 1rem;
}

ion-icon {
    color: var(--background-color);
}

.arrows {
    fill: var(--background-color);
    width: 20px;
    display: none;
}

button:hover {
    background: var(--background-alt-color);
}

input:focus,
button:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    cursor: pointer;
}

.displayed {
    display: flex !important;
}

li {
    list-style: none;
    display: none;
}

#app.header {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#app.header #formContainer {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background: var(--primary-color);
    padding: 10px;
}

#app header {
    display: flex;
    gap: 5px;
}

nav {
    display: flex;
    gap: 5px;
    align-items: flex-end;
    cursor: pointer;
}

header img {
    width: 160px;
    padding: 10px;
}

#app header p {
    line-height: 3.15;
    user-select: none;
    color: var(--background-color);
}

#app.header #form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

#app.header #form-contents {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#settings {
    display: flex;
    justify-content: center;
    gap: 5px;
}

#settings.expanded #searchForm {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

#settings-content {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    overflow: clip;
}

.select {
    opacity: 0;
    z-index: -1;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
}

.select div {
    padding: 8px 12px;
    cursor: pointer;
    background: var(--secondary-color);
}

.select div:hover {
    background: var(--thirdary-color);
}

.setting-group.open .select {
    opacity: 100;
    z-index: 1;
}

.more-settings {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    border-radius: 10px;
}

.more-settings:hover {
    background: var(--secondary-color);
    cursor: pointer;
}

.setting-group.open ion-icon {
    transform: rotate(-90deg);
}

.setting-group:hover {
    background: var(--thirdary-color);
}

#settings.expanded #settings-content {
    column-gap: 30px;
    row-gap: 10px;
}

#settings.expanded .select div {
    width: 300px !important;
}

#settings.expanded .select {
    border: 1px solid var(--text-color);
}

#settings.expanded .setting-group {
    width: 300px !important;
}

#settings * {
    color: var(--background-color);
}

#app.header #items {
    display: flex;
    align-items: center;
    gap: 2px;
}

#more {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: var(--secondary-color);
    padding: 5px;
    position: absolute;
    border: 1px solid var(--primary-color);
    transform: translateX(632%);
}

.stripe {
    background-image: linear-gradient(#FFFFFF 50%, transparent 50%, transparent);
    background-size: 36px 36px;
    border: 1px solid;
}

.line-color {
    display: block;
    width: 5px;
    height: 100px;
}

#more ion-icon {
    font-size: 20px;
}

#app.header .item {
    display: flex;
    align-items: center;
    gap: 5px;
}

#app.header ion-icon[name="chevron-forward-outline"] {
    font-size: 20px;
    display: flex;
}

#trips {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.trip {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    background: var(--background-color);
    border-radius: 10px;
    padding: 15px 20px;
    cursor: pointer;
}

.trip:hover {
    box-shadow: 0 0 10px var(--background-alt-color);
}

.info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.departure,
.arrival {
    display: flex;
    gap: 5px;
    align-items: center;
}

.date {
    min-width: 40px;
    font-size: 16px;
    font-weight: 600;
}

.price {
    font-size: 20px;
    font-weight: 600;
}

#main {
    display: flex;
    gap: 25px;
    justify-content: center;
    width: 100%;
}

#dates {
    display: flex;
    gap: 2px;
}

#departure {
    border-radius: 10px 0 0 10px;
}

#arrival {
    border-radius: 0 10px 10px 0;
}

#departure,
#arrival,
.item {
    background: var(--secondary-color);
    padding: 10px 15px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.item:first-child {
    border-radius: 10px 0 0 10px;
}

.item:last-child {
    border-radius: 0 10px 10px 0;
    padding-left: 30px;
}

#submit {
    display: none;
}

#searchForm {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 90%;
}

.setting-group {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    background: var(--secondary-color);
    padding: 10px 15px;
    border-radius: 10px;
    user-select: none;
}

.item:hover,
#dates div:hover {
    cursor: pointer;
    background: var(--thirdary-color);
}

.setting {
    display: flex;
    gap: 3px;
    align-items: center;
}


@media screen and (max-width: 1000px) {
    #app.header .item {
        flex-direction: column;
        width: 120px;
    }

    #app.header .item * {
        width: 100% !important;
    }
}